.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }
  
  .popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    width: 500px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .player-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .player-name {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .player-dob,
  .player-position,
  .player-transfer-price,
  .player-team {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }