<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Team Page</title>

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/fsrs.png">

</head>
<body>
    <!-- navbar -->
    <nav>
        <div class="container">
            <a href="/"><img src="./images/fsrs.png" class="logo" alt="logo"></a>
            <div class="search-bar">
                <span class="material-icons-sharp">search</span>
                <input type="search" placeholder="Search">
            </div>
            <div class="profile-area">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </nav>

    <!-- main -->

    <main>

        <!-- aside -->
        <aside>
            <button id="close-btn">
                <span class="material-icons-sharp">close</span>
            </button>
            <div class="sidebar">
                <% if (user) { %>
                    <div class="profile-area">
                        <div class="profile-photo">
                            <img src="<%= user.profileImage %>" alt="<%= user.fullName %> Profile Picture">
                        </div>
                        <div class="profileName">
                            <h3> <%= user.fullName %> </h3>
                        </div>
                        <a href="#">
                            <span class="material-icons-sharp">settings</span>
                            <h4>Edit</h4>
                        </a>
                    </div>
                    <%} else { %>
                        <a href="/login" class="">
                            <span class="material-icons-sharp">login</span>
                            <h4>Login/Sign Up</h4>
                        </a>
                    <%} %>
                <a href="/" class="active"> 
                    <span class="material-icons-sharp">dashboard</span>
                    <h4>Dashboard</h4>
                </a>
                <a href="/deal">
                    <span class="material-icons-sharp">currency_exchange</span>
                    <h4>Deals</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">pie_chart</span>
                    <h4>Analytics</h4>
                </a>
                <a href="/information">
                    <span class="material-icons-sharp">help_center</span>
                    <h4>Information</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h4>Settings</h4>
                </a>
                <% if (user) {%>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h4>Logout</h4>
                </a>
                <%} %>
            </div>
        </aside>

        <!--Middle Section-->
        <section class="middle">
            <main class="table" id="customers_table">
            
                <section class="table__body">
                    <div class="addForm">
                        <form enctype="multipart/form-data" action="/team">
                            <h1>Add Team</h1>
                            <br>
                        
                            <lable for="teamName">teamName</lable>
                            <input type="text" name="teamName"/>
                            <div class="teamName error"></div>
                            <br>
                        
                            <label for="teamImage">Team Image</label>
                            <input type="file" name="teamImage" />
                            <div class="teamImage error"></div>
                            <br>
                            
                            <lable for="squadSize">squadSize</lable>
                            <input type="text" name="squadSize"/>
                            <div class="squadSize error"></div>
                            <br>
                        
                            <lable for="marketValue">marketValue</lable>
                            <input type="text" name="marketValue"/>
                            <div class="marketValue error"></div>
                            <br>
                        
                            <lable for="transferRecord">transferRecord</lable>
                            <input type="text" name="transferRecord"/>
                            <div class="transferRecord error"></div>
                            <br>
                        
                            <lable for="avgPlayerValue">avgPlayerValue</lable>
                            <input type="text" name="avgPlayerValue"/>
                            <div class="avgPlayerValue error"></div>
                            <br>
                        
                            <lable for="avgAge">avgAge</lable>
                            <input type="text" name="avgAge"/>
                            <div class="avgAge error"></div>
                            <br>
                        
                            <button type="submit">Add team</button>
                            
                            
                        </form>
                        
                        <script>
                            const form = document.querySelector('form');
                            // read the error
                            const teamImageError = document.querySelector('.teamImage.error');
                            const teamNameError = document.querySelector('.teamName.error');
                            const squadSizeError = document.querySelector('.squadSize.error');
                            const marketValueError = document.querySelector('.marketValue.error');
                            const transferRecordError = document.querySelector('.transferRecord.error');
                            const avgPlayerValueError = document.querySelector('.avgPlayerValue.error');
                            const avgAgeError = document.querySelector('.avgAge.error');
                        
                            form.addEventListener('submit', async (e) => {
                                e.preventDefault();
                                //reset errors
                                teamImageError.textContent = '';
                                teamNameError.textContent = '';
                                squadSizeError.textContent = '';
                                marketValueError.textContent = '';
                                transferRecordError.textContent = '';
                                avgPlayerValueError.textContent = '';
                                avgAgeError.textContent = '';
                        
                                // Create a FormData instance
                                const formData = new FormData();
                                formData.append('avgAge', form.avgAge.value);
                                formData.append('teamName', form.teamName.value);
                                formData.append('squadSize', form.squadSize.value);
                                formData.append('marketValue', form.marketValue.value);
                                formData.append('transferRecord', form.transferRecord.value);
                                formData.append('avgPlayerValue', form.avgPlayerValue.value);
                                if (form.teamImage.files.length > 0) {
                                  formData.append('teamImage', form.teamImage.files[0]);
                                }
                        
                                console.log(formData);
                                
                                try{
                                    const res = await fetch('/team', {
                                        method: 'POST',
                                        body: formData, // Send the form data
                                    });
                                    const data = await res.json();
                                    console.log(data);
                        
                                    if (data.errors){
                                        teamImageError.textContent = data.errors.teamImage
                                        teamNameError.textContent = data.errors.teamName
                                        squadSizeError.textContent = data.errors.squadSize
                                        marketValueError.textContent = data.errors.marketValue
                                        transferRecordError.textContent = data.errors.transferRecord
                                        avgPlayerValueError.textContent = data.errors.avgPlayerValue
                                        avgAgeError.textContent = data.errors.avgAge
                                    }
                                    else{
                                        descriptionError.textContent = ('Added successfully');
                                    }
                                }
                                catch (err){
                                    console.log(err);
                                }
                            });
                        </script>
                    </div>
                </section>
            </main>
            <section class="footer">

                <div class="box-container">
        
                    <div class="box">
                        <h3>extra links</h3>
                        <a href="/information#aboutUs"> <i class="fas fa-arrow-right"></i> about us </a>
                        <a href="/information#copyRight"> <i class="fas fa-arrow-right"></i> copyright </a>
                        <a href="/information#privatePolicy"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                        <a href="/information#paymentMethod"> <i class="fas fa-arrow-right"></i> payment method </a>
                    </div>
        
                    <div class="box">
                        <h3>contact info</h3>
                        <a href="https://www.facebook.com/sonnnayyyf" target="_blank"> <i class='far fa-id-badge'></i> Dang Trung Hieu - s3911594 </a>
                        <a href="https://www.facebook.com/profile.php?id=100011122297129" target="_blank"> <i class='far fa-id-badge'></i> Le Trung Hieu - s3818683 </a>
                        <a href="https://www.facebook.com/tuankiet.luong.218" target="_blank"> <i class='far fa-id-badge'></i> Luu Van Thien Toan - s3979512 </a>
                        <a href="https://www.facebook.com/profile.php?id=100014016729432" target="_blank"> <i class='far fa-id-badge'></i> Dang Quoc Thang - s3977877 </a>
                    </div>
        
                </div>
        
                <div class="credit"> created by <span>Group 6</span> | all rights reserved! </div>
        
            </section>
                    

